// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
    width: 1124px;
    margin: 0 auto;
   
    .header {
      width: 900px;
      height: 150px;
      background-image:image-url("logo.jpg");
    }  

}



.left {
    float: left;
    width: 340px;
}

#middle {
    float: left;
    width: 340px;
}

#right {
    float: left;
    width: 340px;
}

#footer {
    clear: both;
}


  /* An entry in the store catalog */
  

  
  
  .entry {
    float: left;
    width: 340px;

    img {
      width: 300px;
      margin-left: 10px;
      margin-bottom: 5px;
    }


    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 70px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    div.description {
      width: 300px;
      height: 115px;
      margin-left: 10px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }
    
    div.price_line {
      margin-left: 10px;
      margin-top: 0.5em; 
      margin-bottom: 4.8em; 
    }

    div.img-frame {
      width: 340px;
      height: 250px;
    }  

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }    
    
      



